.shortPostBlock, article {
    display: flex;
    flex-direction: row;
}

.shortPostBlock {
    align-items: center;
    min-height: 60px;
    min-height: 5vw;
    padding: 1vw;
    border-bottom: 1px solid black;
}
.contentBlock {
    margin-left: 1vw;

}
article{
    width: 44vw;
}

img {
    height: 100px;
    width: 100px;
    background-color: gray;
}
.button {
    margin-left: 1vw;
}
