<div *ngFor="let post of posts | async" class="shortPostBlock">
    <article>
      <img src="{{post.image}}" alt="{{post.title}}" >
      <div class="contentBlock">      
        <h3 class="routerLink" routerLink="/home/{{post.id}}">
        {{post.title}}
        </h3>
      </div>
    </article>
    <button class="button" (click)='updatePost(post.id)'>Редагувати</button>
    <button class="button" (click)='deletePost(post.id)' >Видалити</button>
</div>