div {
    display: flex;
}
.recipesPage {
    margin-top: 1vw;
    width: 80vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.75);
}

.filters {
    justify-content: space-between;
    margin-bottom: 1vw;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);

    div {
        width: fit-content;
        justify-content: space-between;
    }
}

.checkboxes {
    padding-left: 1vw;
    font-size: 1.5em;
    align-items: center;

    input {
        height: 100%;
        margin-left: 0.5vw;
        margin-bottom: -6px;
        font-size: 20px;
    }
}

.recipesContainer {
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.recipesBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    width: 25vw;
    height: 80vh;
    min-height: 500px;
    
    margin-bottom: 1vw;
    
    border: 0px solid #000000;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;

    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;


    @media screen and (max-width: 500px) {
        width: 100vw;
    }

    @media screen and (min-width: 2000px) {
        width: 25vw;
    }
    div { 
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 5px;
        margin: 0;
        height: calc(20% - 2vw);

    }
    img {
        width: 25vw;
        height: 80%;
    }
    
}



button:active {
    background-color: rgb(131, 131, 131);
}