<div class="recipesPage">
  <div class="filters">
      <button class="button" (click)="filterByType('Meet')">М'ясні страви</button>
      <button class="button" (click)="filterByType('Salad')">Салат</button>
      <button class="button" (click)="filterByType('Soup')">Суп</button>
      <button class="button" (click)="filterByType('Garnish')">Гарнір</button>
      <button class="button" (click)="filterByType('Desserts')">Десерти</button>
      <button class="button" (click)="filterByType('Appetizer')">Закуски</button>
      <button class="button" (click)="filterByType('Cocktails')">Коктейлі</button>
      <button class="button" *ngIf="this.typeFilter.getValue()" (click)="filterByType(null)">Очистити фільтри</button>
  </div>
  <div class="recipesContainer" *ngIf="posts | async; let posts; else loading">
    <div *ngFor="let post of posts">
      <a class="recipesBox" (click)="openPost(post.id)">
        <div><p>{{post.title}}</p></div>
        <img src="{{post.image}}" alt="{{post.title}}">
      </a>
    </div>
    <div *ngIf="posts.length === 0">Такі страви відсутні, очитіть фільтри...</div>

  </div>
  <ng-template #loading>Завантаження&hellip;</ng-template>
</div>
