<div class="cabinetBody">

    <div class="leftNav">
      <button class="button" [routerLink]="[ '/cabinet' ]" routerLinkActive="active"> Кабінет </button>
      <button class="button" [routerLink]="[{outlets: {cabinet:'postForm'}}]" routerLinkActive="active"> Додати новий пост</button>
      <button class="button" [routerLink]="[{outlets: {cabinet:'adminPostList'}}]" routerLinkActive="active"> Список постів</button>
    </div>

    <div class="mainBlock">
      <router-outlet name="cabinet" ></router-outlet>
    </div>

</div>