.cabinetBody, .mainBlock, .leftNav {
    display: flex;
}
.cabinetBody {
    justify-content: center;
}

.leftNav { 
    flex-direction: column;
    width: 12vw;
    min-height: 400px;
    margin: 1.5vw;
}
.mainBlock {
    width: 62vw;
    min-height: 400px;
    margin: 1.5vw;
}