.body {
    width: 80vw;
    position: static;
    overflow: hidden;
}

// .postsList {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     align-content: space-between;
//     flex-wrap: wrap;
//     width: 80vw;
//     height: auto;
// }