.button{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-style: none;
    margin-bottom: 0.3vw;
    border-bottom: black 1px solid;
    height: 1vw;
    min-height: 30px;
    background-color: white;
    color: black;
}
.button:hover {
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}
.button:active {
    background-color: rgba(172, 172, 172, 0.979);
}
a{
    text-decoration: none;
    color: black;
}
.routerLink {
    cursor: pointer;
}
.routerLink:hover {
    background-color: rgba(122, 122, 122, 0.20);

}
// div {
//     display: flex;
// }