$screen-xs-min: 420px;  // телефони
$screen-sm-min: 576px;  // телефони
$screen-md-min: 768px;  // планшети
$screen-lg-min: 1200px; // десктопи
$screen-xl-min: 2000px; // десктопи


@mixin xs { @media screen and (max-width: #{$screen-xs-min}) {@content;} } // телефони
@mixin sm { @media screen and (max-width: #{$screen-sm-min}) {@content;} } // телефони
@mixin md { @media screen and (max-width: #{$screen-md-min}) {@content;} } // планшети
@mixin lg { @media screen and (max-width: #{$screen-lg-min}) {@content;} } // десктопи
@mixin xl { @media screen and (max-width: #{$screen-xl-min}) {@content;} } // десктопи


