<div class="loginBody">
  <div class="login">
    <div class="loginBox">
      <h1>Login</h1>
      <input type="text" placeholder="Email" #userEmail required autofocus>
      <input type="password" placeholder="Password" #userPassword required>
      <button (click)="authService.login(userEmail.value, userPassword.value)">Login</button>
    </div>
  </div>
</div>