.loginBody {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 60vh;
    margin: 1vw;
}
.login{
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.loginBox {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60vh;
    width: 40vw;

    input {
        width: 20vw;
        height: 7vh;
        padding: 0vw 1vw 0vw 1vw;
        min-height: 2em;
        margin: 0.5vw;
        border: 1px solid rgb(211, 211, 211);
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5vw;
        width: 10vw;
        height: 7vh;
        min-height: 2em;

    }
}