@import 'src/styles/shared.scss';

.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80vw;
    div {
        display: flex;
        flex-direction: row;
    }
    @include md {
        width: 100%;
    }
}
.headerTitle {
    font-size: 1.5em;
    position: absolute;
    right: 25%;
    left: 25%;
    width: 50%;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0);
}

.fa-bars {
    font-size: 2em;
    cursor: pointer;
}


.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.mobTopAdmin {
    display: block;
}
.mobLogout {
    color: #111;
}
.mobNav {
    width: 25vw;
}
.goright {
    justify-content: flex-end;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #a3a3a3ab;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
}
.closebtn{
    cursor: pointer;
}