<div class="headerBlock">
  <i class="fas fa-bars" (click)="openNav()" ></i>
  <a class='button headerTitle' routerLink='/home'><h2>Long story... about food!</h2></a>
  <app-search></app-search> 
</div>



<div id="mySidenav"  class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink='/home' (click)="closeNav()">Головна</a>
  <a routerLink='/recipes' (click)="closeNav()">Рецепти</a>

  <a routerLink='/about' (click)="closeNav()">Про нас</a>
  <div *ngIf="authService.isLoggedIn" class="mobTopAdmin">
      <a class="moblogout" routerLink="/admin" (click)="closeNav()">Адмінка</a>
      <a class="moblogout" (click)="authService.logout()">Вийти</a>
  </div>
</div>