.postsblock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.postBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    width: 25vw;
    height: 80vh;
    min-height: 500px;
    
    margin: 9px;


    border: 0px solid #000000;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;

    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.12);
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
}
img {
    width: 25vw;
    height: 80%;
}
.bottomTitle {
    margin-top: 1vw;
    margin-bottom: 1vw;
}