<div class="postsblock" *ngIf="posts; else loading">
    <div *ngFor="let post of posts | async | slice:0:3">
        <a class="postBox" routerLink="/home/{{post.id}}">
            <img src="{{post.image}}" alt="{{post.title}}" >
            <a class="bottomTitle" >{{post.title}}</a>
        </a>
    </div>
</div>

<ng-template #loading> <app-loading-spinner></app-loading-spinner>  </ng-template>
