<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="updateForm()">

    <div class="row">
      <div class="col-1">
        <label for="type">Категорія:</label>
      </div>

      <div class="col-2">
        <select id="type" name="type" placeholder="Категорія:" formControlName="type">
          <option value="Meet">М'ясні страви</option>
          <option value="Salad">Салат</option>
          <option value="Soup">Суп</option>
          <option value="Garnish">Гарнір</option>
          <option value="Desserts">Десерти</option>
          <option value="Appetizer">Закуски</option>
          <option value="Cocktails">Коктейлі</option>  
        </select>
      </div>
    </div>

    <div class="row">

      <div class="col-1">
        <label for="title">Назва страви:</label>
      </div>

      <div class="col-2">
        <input type="text" name="title" id="title" formControlName="title" placeholder="Назва страви:">
      </div>

    </div>

    <div class="row">

      <div class="col-1">
        <label for="file">Фото:</label>
      </div>

      <div class="col-2">
        <input type="text" style="display:none" formControlName="image">

      </div>

    </div>

    <div class="row">

      <div class="col-1">
        <label for="content">Опис:</label>
      </div>

      <div class="col-2">
        <pre><textarea name="content" id="content" cols="30" rows="6" formControlName="content"> </textarea></pre>
      </div>

    </div>


    <div class="row">
      <button class="button" type="submit">Надіслати</button>
    </div>

  </form>
</div>

