input[type=text], select, input[type=file] {

}
#type, #file, #title, #content {
    width: 40vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 62vw;
}


.col-1 {
    float: left;
    width: 16vw;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 40vw;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-1, .col-2, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}