@import 'src/styles/shared.scss';

.body{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    flex-direction: column;
    -ms-flex-direction: column;
}
.header, .main, .footer {
    display: flex;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 5px;
    padding: 5px 0;
    width: 80vw;
    min-width: 800px;
    margin: 50px 0; 
    background-color: rgba(255, 255, 255, 0.25);

    @include md {
        width: 96vw;
    }
    
}

.main {
    width: 80vw;
    min-width: 800px;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 80vw;
    min-width: 800px;
    height: 20vh;
    min-height: 100px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}



