.searchButton {
    display: flex;
    width: min-content;
    min-width: 24px;
    background-color: rgba(255, 255, 255, 0.25);
    align-self: center;
    align-items: center;
    button {
        padding-right: 0px;
        background-color: white;
        border: none;
    }
}
.searchBlock {
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    .button {
        display: none;
        border: none;
        font-size: 1.4em;
        background-color: rgb(255, 255, 255);
        text-align: left;
    }
}
.searchBlock:hover {
    .button {
        width: 150px;
        display: block;
        border-bottom: 1px solid black;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
}


.fa-search {
    font-size: 1.5em;
}