<span class="searchBlock" >
  <form class="searchButton">
    <input type="search" name="search" class="button" id="searchInput" placeholder="Ще не готово:С">
    <i class="fas fa-search" id="searchIcon"></i>
  </form>  

</span>



