<div class="container">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  
      <div class="row">
        <div class="col-1">
          <label for="type">Категорія:</label>
        </div>
  
        <div class="col-2">
          <select id="type" placeholder="Категорія:" formControlName="type">
            <option value="Meet">М'ясні страви</option>
            <option value="Salad">Салат</option>
            <option value="Soup">Суп</option>
            <option value="Garnish">Гарнір</option>
            <option value="Desserts">Десерти</option>
            <option value="Appetizer">Закуски</option>
            <option value="Cocktails">Коктейлі</option>  
          </select>
        </div>
      </div>
  
      <div class="row">
  
        <div class="col-1">
          <label for="title">Назва страви:</label>
        </div>
  
        <div class="col-2">
          <input type="text" id="title" formControlName="title" placeholder="Назва страви:">
        </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-1">
          <label for="file">Фото:</label>
        </div>
  
        <div class="col-2">
  
          <input class="addPhoto" type="file" #file id="file" (change)="uploadImage($event, file.files)">
          <img class="formImage" [(src)]="imgURL" *ngIf="imgURL">

  
        </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-1">
          <label for="content">Опис:</label>
        </div>
  
        <div class="col-2">
          <angular-editor formControlName="content" id="editor" [config]="editorConfig"></angular-editor>
        </div>
  
      </div>
  
  
      <div class="row">
        <button class="button" type="submit">Надіслати</button>
      </div>
  
    </form>
  </div>
  
  