#type,
#file,
#title,
#content {
    width: 40vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

*div {
    display: block;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 62vw;
}


.col-1 {
    float: left;
    width: 16vw;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 40vw;
    margin-top: 6px;
}
.formImage {
    max-width: 150px;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {

    .col-1,
    .col-2,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Insert Image"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Subscript"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Superscript"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Text Color"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Background Color"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Insert Link"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Unlink"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Horizontal Line"] {
    display: none
}

:host /deep/ angular-editor#editor .angular-editor-button[title="Clear Formatting"] {
    display: none
}

:host /deep/ angular-editor#editor .select-font[title="Font Name"] {
    display: none
}
:host /deep/ angular-editor#editor .angular-editor-button[title="HTML Code"] {
    display: none
}