div {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.postStyle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
}

.photo {
  max-width: 50vw;
}

.content {
  margin: auto;
  padding: 2vw;
  text-align: left;
  max-width: 80vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
