<div class="postStyle">
  <h3>{{(post | async)?.title}}</h3>
  <img class="photo" src="{{(post | async)?.image}}" alt="{{(post | async)?.title}}"  >
  <p class="content" innerHTML="{{(post | async)?.content}}"></p>
</div>