/* You can add global styles to this file, and also import other style files */
@import "src/styles/fonts.scss";
@import "src/styles/global.scss";
@import url('https://fonts.googleapis.com/css?family=Marmelad|Roboto&subset=cyrillic');

body {
    margin: 0;
    padding: 0;    
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
