<div class="aboutBody">
  <h3>Всім привіт!</h3>
  <p>
    Нас звати Роман та Юля, ми молоде подружжя з Івано-Франківська. <br> Ми любимо готувати, їсти, і насолоджуватись обома процесами.
    Тому хочемо поділитись з вами декількома нашими рецептами та ідеями, як на швидку руку можна стряпати дуже смачне блюдо з доступних та дешевих інградієнтів які запросто можна купити в будь якому супермакеті, або знайти в сусіда на городі).
    Більшість наших рецептів чесно вкрадені з інтернетів або книг, але і не виключена можливість власних задумок :D.

  </p>
  <p>
    П.С. Якщо ви є правовласником якоїсь картинки чи рецепта, я особисто за вас дуже радий. 
  </p>
</div>